@media (max-width: 1024px) {
  .hero {
    background-position: left -200px bottom;
    background-size: cover;
  }

  .hero__hello span {
    font-size: 80px;
  }
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
  .nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--bg);
    transition: transform ease 0.5s, visibility ease 0.5s;
    transform: translateX(-100%);
    visibility: hidden;
  }

  .form__btn {
    height: 40px;
  }

  .nav--active {
    transform: none;
    visibility: visible;
  }

  .nav__list {
    flex-direction: column;
    padding: 50px 0;
    height: 100%;
  }

  .hero {
    /* background-position: left 30% bottom;
        background-size: cover; */
    background-position: left 100% top 50px;
    background-size: auto 400px;
  }

  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }

  .burger__line {
    height: 2px;
    width: 100%;
    position: absolute;
    right: 0;
    background-color: var(--main);

    transition: transform ease 0.5s, top ease 0.5s;
  }

  .burger__line:first-child {
    top: 0;
  }

  .burger__line:last-child {
    top: calc(100% - 2px);
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  .burger--active .burger__line:nth-child(2) {
    transform: scale(0);
  }

  .burger--active .burger__line:first-child {
    top: 50%;
    transform: rotate(45deg);
  }
  .burger--active .burger__line:last-child {
    top: 50%;
    transform: rotate(-45deg);
  }

  .hero__level {
    display: none;
  }

  .hero__left {
    align-items: center;
  }

  .hero__text {
    max-width: 100%;
  }

  .hero__hello {
    text-align: center;
  }

  .hero__content {
    padding: 0;
    padding-top: 300px;
    padding-bottom: 40px;
    align-items: center;
  }

  .hero__descr {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .hero {
    background-position: left 20% top 50px;
    background-size: auto 400px;
  }

  .header__container {
    justify-content: initial;
  }

  .header__btn {
    margin-left: auto;
    margin-right: 20px;
  }

  .btn {
    font-size: 14px;
    padding: 8px 12px;
  }

  .hero__text {
    font-size: 16px;
  }

  .hero__descr {
    text-align: left;
  }
}
